.App {
  width: 600px;
  margin-bottom: 80px;
}

.App-header {
  margin-left: 35%;
  color: #5F7FBF;
}

ul>li:hover {
  background-color: #F5F5F5;
}
.App-title {
  font-size: 1.5em;
}

.textarea {
  width: 100%;
}
